// colors
$title: #cad6c4;
$background: #20303D;
$background-elements: #3C454D;

// breakpoints
$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;
$breakpoint-extra-large:1600px;