header {
    background-color: $background-elements;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include tablet{
      justify-content: space-between;
    }
}

.presentation {
    color: $title;
    font-family: 'JetBrains Mono', monospace;
    padding-top: 0.5em;
    padding-left: 2em;
    h1 {
        font-size: 2em;
        padding-bottom: 0.5em;
    }
    @include tablet {
      font-size: 0.7em;
      h1 {
          font-size: 1.2em;
      }
    }
    @include tabland {
      font-size: 1em;
      h1 {
          font-size: 2em;
      }
    }
}

.area {
    display: flex;
    padding-top: 0.5em;
    padding-left: 0.5em;
    color: $title;
    font-family: 'JetBrains Mono', monospace;
    img {
        width: 3em;
        height: 3em;
    }
    @include tablet {
        font-size: 0.7em;
        padding-left: 0;
    }
    @include tabland {
        font-size: 1em;
    }
}

.header--links {
    display: flex;
    margin-top: 1em;
    padding-right: 2em;
    img {
        width: 2em;
        height: 2em;
        padding-left: 1em;
    }
    .github {
        img:hover {
        content: url(../../assets/images/Github-logo-hover.png)
        }
    }
    .linkedin {
        img:hover {
        content: url(../../assets/images/linked-logo2-hover.png)
        }
    }
    .arobase {
        img:hover {
        content: url(../../assets/images/arobase-hover.png)
        }
    }

    @include tablet {
      padding-top: 0.5em;
      font-size: 0.7em;
      img {
        width: 2.5em;
        height: 2.5em;
        padding-left: 0.5em;
      }
    }
    @include tabland {
      font-size: 1em;
      img {
        width: 3em;
        height: 3em;
      }
    }
}